[default]
#According to the example, in order. Whether to enable proxy, proxy software ip address and port, telegram bot token, user id

#Whether to enable proxy|是否启用代理
ifproxy = False
#Proxy Software Addresses and Port|代理地址与端口
proxy = 127.0.0.1:1080
#telegram bot token|telegram 机器人的密钥
tgtoken = 12312313123
#user 's id,It can be more than one, with the first being an administrator with reboot privileges.|用户id，处于第一个的可以重启机器人
userid = 1231231,12322332,2332233


[cloudflare]
#This project is to control the cloudflare api, in order. cloudflare account email, global key. not needed can not be configured.
#cloudflare的邮箱、密钥，可以控制cloudflare域名解析，仅支持非免费域名
email = 12312313123@gmail.com
globalkey = ad32sddf2334sd
