[default]
#According to the example, in order. Whether to enable proxy, proxy software ip address and port, telegram bot token, user id

#Whether to enable proxy|是否启用代理,小写
ifproxy = false

#Proxy Software Addresses and Port|代理地址与端口，半角符号
proxy = 127.0.0.1:1080

#查询月额时，是否需要详细的码率表格
tb = false

#telegram bot token|telegram 机器人的密钥， telegram内通过 @BotFather  创建机器人后获取
tgtoken = 12312313123

#user 's id,It can be more than one, with the first being an administrator with reboot privileges.|可使用该机器人的用户id，telegram内 私聊/start @get_id_bot  获取（chat id），可多个，英文逗号隔开，处于第一个的才有权限在telegram内重启机器人
userid = 1231231,12322332,2332233

#使用的系统，linux | windows
system = linux

[cloudflare]
#This project is to control the cloudflare api, in order. cloudflare account email, global key. not needed can not be configured.
#cloudflare的邮箱、密钥，可以控制cloudflare域名解析，仅支持非免费域名（不需要本功能的可以不管，但不要留空）
email = 12312313123@gmail.com
globalkey = ad32sddf2334sd
